<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">


<!--核心配置文件-->
<configuration>
    <!-- 引入外部properties文件 -->
    <properties resource="database.properties"/>
    <!-- 设置 -->
    <settings>
        <!-- 映射级别, NONE标表示不进行自动映射, PARTIAL表示部分自动映射(嵌套查询的时候不自动映射), FULL表示全都自动映射(包括association等嵌套查询) -->
        <setting name="autoMappingBehavior" value="FULL"/>
        <!-- 日志 -->
        <setting name="logImpl" value="LOG4J2"/>
        <!--缓存,默认true开启-->
        <setting name="cacheEnabled" value="true"/>
    </settings>
    <!-- 别名 -->
    <typeAliases>
        <!--单个类声明别名-->
        <!-- <typeAlias type="com.smbms.pojo.User" alias="User" /> -->

        <!-- 扫描包, 自动将保重的每个类声明别名, 别名为类名, 不区分大小写 -->
        <package name="com.smbms.pojo"/>
    </typeAliases>
    <!--数据库环境-->
    <environments default="development">
        <environment id="development">
            <!--事务管理器-->
            <transactionManager type="JDBC"/>
            <!--数据源-->
            <dataSource type="POOLED">
                <property name="driver" value="${driver}"/>
                <property name="url" value="${url}"/>
                <property name="username" value="${username}"/>
                <property name="password" value="${password}"/>
            </dataSource>
        </environment>
    </environments>

    <!--SQL映射文件-->
    <mappers>
        <mapper resource="sqlmap/UserMapper.xml"/>
    </mappers>
</configuration>