<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserMapper">

    <select id="count" resultType="int">
        SELECT COUNT(*) FROM smbms_user
    </select>

    <select id="findAll" resultType="com.smbms.pojo.User">
        SELECT * FROM smbms_user
    </select>

</mapper>